* {
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: #FFDD95;
  overflow: hidden;
}


.Container-Inicio {
    position: relative;
    left: 80px;
    bottom: 60px;

}

.botao {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 80px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
    bottom: 250px;
    left: 800px;
  }
  
  .botao .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .botao .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
  }
  
  .botao:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
  }